html {
	font-size: 10px;
}

body {
	background-color: #f0f2f2;
	color: #545454;

	.container {
		text-align: center;
		margin-top: 5%;

		.lang-btns {
			margin-top: 15px;
			text-align: right;
			right:0;
		}

		.col-md-8 {
			float: none;
			margin: auto;
		}

		.form-container {
			background-color: #ffffff;
			text-align: left;
			padding-bottom: 30px;

			.form-padding {
				padding:15px;
			}

			.form-information {
				padding-left: 15px;
			}

			.form-header {
				background-color: #566a8f;
				color: #ffffff;
				text-align: left;
				margin-bottom: 20px;
				font-size: 1.5rem;
				padding: 15px;
				
			}

			.form-control.ng-touched.ng-invalid {
			    border-color: #DA1C1C;
			    outline: 0;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
			}
			.form-control.ng-valid {
			    border-color: #66E974;
			    outline: 0;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
			}

			#form-submit[disabled] {
				opacity: 0.3;
			}

		}
		

		#form-submit {
			background-color: #8996b0;
			color: #ffffff;
			text-align: center;
		}

		.input-left-icon {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			display: block;
			width: 34px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			pointer-events: none;
			color: inherit;
		}

		.glyphicon + input {
			padding-left: 40px;
		}

		.section-breakline {
			width: 100%;
			border-bottom: 1px solid #f0f2f2;
		}

		.form-control:not(.ng-pristine).ng-invalid + div .error-box,
		.form-control.ng-touched.ng-invalid + div .error-box {
			background-color: #C32626;
		    color: white;
		    padding: 10px 15px;
		    border-radius: 5px;
		}


		.success-box-anim {
			-webkit-transition: all 250ms ease-out 500ms;
		    -moz-transition: all 250ms ease-out 500ms;
		    -o-transition: all 250ms ease-out 500ms;
		    transition: all 250ms ease-out 500ms;
		    background-color: #66E974;
		    color: #13561A;
		    padding:15px;
		    text-align: center;
		}
		.success-box-anim.ng-hide-add.active {
			height:50px;
		}
		.success-box-anim.ng-hide-add {
			height:0px;
		}
		.success-box-anim.ng-hide-remove.active {
			height:0px;
		}
		.success-box-anim.ng-hide-remove {
			height:50px;
		}



	}

	.logo_telrock {

	}
}