<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telrock prototype - cuzner</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>

<section class="container" ng-app="telapp">
	<div class="col-md-8">
		<div class="row">
			<img src="assets/img/telrock_logo.jpg" class="logo_telrock">
		</div>
		<div class="row" ng-controller="customerFormController">
			<div class="col">
				<form name="telrockForm" novalidate>
					<div class="form-container">
						<h1 class="form-header">{{ 'SIGN_IN' | translate}}</h1>
						<label class="form-information">{{ 'INFO_TOP' | translate }}</label>
						
						<div class="form-padding">
							
							<div ng-repeat="item in allData track by $index">
								<telappinput outdata="item" outmodel="item.inputName" outerror="telrockForm" outmsg="errorMessages[$index]" outplaceholder="'PLACEHOLDER'+$index | translate"></telappinput>
							</div>

							<div class="form-group has-feedback">
								<label class="sr-only" for="form-submit">Submit</label>
								<input name="submit" id="form-submit" type="button" value="{{ 'SUBMIT_BTN' | translate }}" class="form-control" ng-disabled="telrockForm.$invalid" ng-click="telrockSubmit()"/>
							</div>
							<div class="section-breakline"></div>

							<div class="success-box-anim" ng-show="submitStatus" >
								<p class="success-box">Data Sent :)</p>
							</div>
						</div>

						<label class="form-information">{{ 'INFO_BOT' | translate }}</label>
					</div>
				</form>
			</div>

			<div class="lang-btns">
				<button class="btn" ng-click="switchLang('en')">en</button>
				<button class="btn" ng-click="switchLang('de')">de</button>
				<button class="btn" ng-click="switchLang('fr')">fr</button>
				<button class="btn" ng-click="switchLang('es')">es</button>
			</div>
		</div>

		
	</div>


</section>






<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
<script type="text/javascript" src="app/services.js"></script>
<script type="text/javascript" src="app/controllers.js"></script>
<script type="text/javascript" src="app/directives.js"></script>
<script type="text/javascript" src="app/app.js"></script>

</body>
</html>