<div class="form-group has-feedback">
	<label class="sr-only" for="{{indata.field}}">{{indata.description}}</label>
	<span class="glyphicon {{indata.inputIcon}} input-left-icon" aria-hidden="true"></span>
	<input name="{{indata.id}}" id="{{indata.id}}" ng-model="$root.testmodel[inmodel]" type="{{telrockmodel.inputType}}" placeholder="{{inplaceholder}}" class="form-control" value=" " ng-required="true" ng-minlength="{{indata.inputMinlen}}" ng-pattern="indata.inputPattern"/>
	
	<div ng-messages="inerror[indata.id].$error" role="alert" >
		<div ng-if="inerror[indata.id].$touched">
			<div ng-repeat="errorMsg in inmsg[indata.field]">
				<div class="error-box" ng-message-exp="errorMsg.type">{{errorMsg.msg}}</div>
			</div> 
		</div>	
	</div>
</div>