html {
  font-size: 10px; }

body {
  background-color: #f0f2f2;
  color: #545454; }
  body .container {
    text-align: center;
    margin-top: 5%; }
    body .container .lang-btns {
      margin-top: 15px;
      text-align: right;
      right: 0; }
    body .container .col-md-8 {
      float: none;
      margin: auto; }
    body .container .form-container {
      background-color: #ffffff;
      text-align: left;
      padding-bottom: 30px; }
      body .container .form-container .form-padding {
        padding: 15px; }
      body .container .form-container .form-information {
        padding-left: 15px; }
      body .container .form-container .form-header {
        background-color: #566a8f;
        color: #ffffff;
        text-align: left;
        margin-bottom: 20px;
        font-size: 1.5rem;
        padding: 15px; }
      body .container .form-container .form-control.ng-touched.ng-invalid {
        border-color: #DA1C1C;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
      body .container .form-container .form-control.ng-valid {
        border-color: #66E974;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
      body .container .form-container #form-submit[disabled] {
        opacity: 0.3; }
    body .container #form-submit {
      background-color: #8996b0;
      color: #ffffff;
      text-align: center; }
    body .container .input-left-icon {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      pointer-events: none;
      color: inherit; }
    body .container .glyphicon + input {
      padding-left: 40px; }
    body .container .section-breakline {
      width: 100%;
      border-bottom: 1px solid #f0f2f2; }
    body .container .form-control:not(.ng-pristine).ng-invalid + div .error-box,
    body .container .form-control.ng-touched.ng-invalid + div .error-box {
      background-color: #C32626;
      color: white;
      padding: 10px 15px;
      border-radius: 5px; }
    body .container .success-box-anim {
      -webkit-transition: all 250ms ease-out 500ms;
      -moz-transition: all 250ms ease-out 500ms;
      -o-transition: all 250ms ease-out 500ms;
      transition: all 250ms ease-out 500ms;
      background-color: #66E974;
      color: #13561A;
      padding: 15px;
      text-align: center; }
    body .container .success-box-anim.ng-hide-add.active {
      height: 50px; }
    body .container .success-box-anim.ng-hide-add {
      height: 0px; }
    body .container .success-box-anim.ng-hide-remove.active {
      height: 0px; }
    body .container .success-box-anim.ng-hide-remove {
      height: 50px; }
